include ../components/globals.pug

doctype html
html(lang="en")
	include head.pug
	body.w-full.font-Montserrat.box-border(class='xl:max-w-6xl xl:mx-auto dark:bg-gray-900')
		include header.pug
		block main
		include footer.pug
		script(src="./index.js")