footer#about-us.footer
	h2.footer__title
		| About Us
	each item in list_about_us
		a(href="#").w-fit.ml-1= item
	.footer__social-media
		a(href="#"): img(src="assets/svg/twitter.svg" alt="Icono de Twitter")
		a(href="#"): img(src="assets/svg/instagram.svg" alt="Icono de Instagram")
.tabBar
	a(href="#"): img(src="assets/svg/home.svg" alt="Icono del Home")
	a(href="#recommended"): img(src="assets/svg/search.svg" alt="Icono de Busqueda")
	a(href="#trending-stays"): img(src="assets/svg/heart.svg" alt="Icono de Favoritos")
	button#toggleTabBar: img.w-6(src="assets/svg/moon.svg" alt="Icono de Moon")