header#home
	include components/navbar.pug
	.w-full.flex.flex-col.absolute.space-y-80.pt-4.items-center
		input.text-center.outline-none.p-3.rounded-full.shadow-sm(class='w-5/6' type='search' placeholder='San Francisco')
		button.bg-white.text-primary.text-md.font-semibold.p-3.rounded-full(class='w-1/2') Explore More
	figure.w-full: img(src='./css/assets/img/sanFrancisco.jpg' alt='Fondo de San Francisco')