head
	meta(charset='UTF-8')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='viewport' content='width=device-width, initial-scale=1.0')
	meta(name='theme-color' content='#CC2D4A')
	link(rel='icon' type='image' sizes='20x20' href='assets/svg/favicon.svg')
	link(rel="stylesheet" href="css/styles.pcss")
	title Travel Page