#tabBar_nav(class='hidden lg:flex lg:text-primary lg:font-bold lg:gap-8 xl:gap-12 lg:text-sm lg- xl:font-semibold dark:text-white').w-full.justify-center.gap-10
	a(href="#recommended" class='lg:px-2 lg:py-1 lg:rounded-full button-animation hover:translate-y-0')
		| Locations
	a(href="#trending-stays" class='lg:px-2 lg:py-1 lg:rounded-full button-animation hover:translate-y-0')
		| Stays
	a(href="#FAQs" class='lg:px-2 lg:py-1 lg:rounded-full lg:block button-animation hover:translate-y-0')
		| FAQs
	a(href="#about-us" class='lg:px-2 lg:py-1 lg:rounded-full lg:block button-animation hover:translate-y-0')
		| About Us