#tabBar(class='md:hidden landscape:hidden').w-full.py-5.flex.justify-center.gap-10.sticky.bottom-0.bg-white.border.border-gray-200
	a(href="#")
		img(src="./assets/svg/home.svg" alt="Icono del Home")
	a(href="#recommended")
		img(src="./assets/svg/search.svg" alt="Icono de Busqueda")
	a(href="#trending-stays")
		img(src="./assets/svg/heart.svg" alt="Icono de Favoritos")
	button
		img(src="./assets/svg/user.svg" alt="Icono de Usuario")