extend templates/template.pug

block main
	main.main
		section#recommended.mini-cards
			h2.mini-cards__title Our Recommendations
			.mini-cards__container
				+mini-card('bg-norway', 'Norway', 'Beautiful landscapes')
				+mini-card('bg-new_york', 'New York', 'Concrete jungle')
				+mini-card('bg-yosemite', 'Yosemite', 'A break from the world')
				+mini-card('bg-seattle', 'Seattle', 'Big City')
				+mini-card('bg-switzerland', 'Switzerland', 'Big City')
		section#trending-stays.cards
			h2.cards__title Trending Stays
			.cards__container
				+card('bg-chicago lg:max-h-[30rem]', 'Chicago', '2 rooms, bathroom and kitchen.', 'md:col-span-2 md:row-span-1 lg:col-span-full lg:row-span-1', 'md:w-1/5 lg:w-auto')
				+card('bg-LA lg:max-h-[36rem]', 'Los Angeles', '4 rooms, 3 bathrooms,  kitchen and private pool.', 'md:col-span-3 md:row-span-1 lg:col-span-2 lg:row-span-2', 'md:w-2/5 lg:w-1/5')
				+card('bg-miami lg:max-h-[17rem]', 'Miami', '3 rooms, 2 bathrooms,  kitchen and amazing sea view.', 'md:col-span-full md:row-span-1 lg:col-span-3', 'md:w-1/5 lg:w-1/3')
				+card('bg-bali lg:max-h-[17rem]', 'Bali', '2 rooms, 2 bathrooms,  kitchen and private pool.', 'md:col-span-full md:row-span-1 lg:col-span-3', 'md:w-1/3 lg:w-1/5')
		section#FAQs.faqs
			h2.faqs__title FAQs
			+FAQ('Payment Methods')
			+FAQ('Cancellation Policy')
			+FAQ('Long Stays')